@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --bg: white;
  --border: black;
  --primary: #573a7c;
  --invert: 0%;
}

.dark {
  --bg: black;
  --border: white;
  --primary: #9173bb;
  --invert: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
